<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        .info_container {
            padding-top: 30px;
        }

        span {
            font-family: 微软雅黑;
            font-size: 30px;
            font-weight: bold;
        }

        .image_container {
            width: 233px;
            height: 226px;
            margin: 5px auto;
        }

        .span_container {
            width: 390px;
            height: 40px;
            margin: 0px auto;
        }
    </style>
</head>
<body>
<div class="error_container">
    <div class="info_container">
        <div class="image_container">
            <img src="{% static 'images/crying_cat.png' %}">
        </div>
        <div class="span_container"><span>Sorry,网站出错了，真是抱歉</span></div>
    </div>
</div>
</body>
</html>